SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/flejz/.dotfiles/etc/power-mgmt/power.sh AC"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/flejz/.dotfiles/etc/power-mgmt/power.sh BAT"
